html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-image: url(../img/galaxy.jpg);
	
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	background-color: ivory;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
}
aside {

	flex-basis: 10%;
	display: flex;
	flex-flow: column  nowrap;

}

fieldset{
	border: 1px solid black;
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem;
	border-radius: 10px;
}

.input{
	width: 30%;
	display: inline-block;
}

.dateinput{
	width: 25%;
	display: inline-block;
}

.numberinput{
	width: 10%;
	display: inline-block;
	margin-top: 0rem;
}

.p1{
	border: 0px solid red;
	padding-bottom: 0.5rem;
	display: inline-block;
}

p. [for="abtype"]{
	margin: 2rem 0 1rem 0;
}

legend{
	font-weight: bold;
	margin-bottom: 0.5rem;
	border: 0px solid red;
}

textarea{
	height: 10rem;
	padding: 1rem;
}
label{display: block;}

select{
	font-size: 1rem;
}

button{
	background-color: red;
	border-radius: 10px;
	font-size: 2rem;
	font-weight: bold;
	padding: 0.5rem;
	margin: 1rem 0 0 0 ;
	text-align: center;
	color: white;
	border: 0px solid white;
}

button:hover{
	background-color: white;
	color: red;
	text-decoration: underline;
	border: 1px solid red;
	border-radius: 10px;
}

input:not([type="radio"]):not([type="checkbox"]), textarea, select{
	display:  block;
	border:1px solid grey;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: sans-serif;
	font size: 1rem;
	padding: 0 1rem;
	
}















